#bg{
    /* The image used */
    background-image: url("../../assets/images/3.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    
    font-weight: bolder;
    background-size: 100% ;  
    background-size: cover; 

}

*{
    color: black;
    font-family:sans-serif;
    font-weight:bold;
}