<div class='card'>
    <div class='card-header'>
     {{pageTitle}}
    </div>
    
    <div class='card-body'>            
      <div class='table-responsive'>
        <table class='table bg-pic'
              *ngIf = 'books && books.length'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-primary'
                (click)='toggleImage()'>
                  {{showImage? 'Hide' : 'Show'}} Image
                </button>
              </th>
              <th>Book</th>
              <th>Author Name</th>
              <th>Available</th>
              <th>Description</th>
              <th>Price</th>
              <th>5 Star Rating</th>
            </tr>
           
          </thead>
          <tbody>  
              <tr *ngFor='let book of books'>
                  <td><img *ngIf='showImage'
                    [src] = 'book.imageUrl' 
                    [title] = 'book.bookName'
                    [style.width.px] = 'imageWidth' 
                    [style.margin.px] = 'imageMargin'></td>
                  <td>{{ book.bookName|uppercase }}</td>
                  <td>{{ book.authorName }}</td>
                  <td>{{ book.releaseDate }}</td>
                  <td>{{ book.description }}</td>
                  <td>{{ book.price|currency:'USD' }}</td>
                  <td>{{ book.starRating }}</td>
                  <td>
                    <button class="btn btn-warning" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="editBook(book)" style="margin-left: 20px;"> Edit</button>
                  </td>
                  <td>
                    <button class="btn btn-danger" style="cursor:pointer" *ngIf="_auth.loggedIn()"(click)="deleteBook(book)"> Delete</button>
                  </td>
                </tr>              
          </tbody>
        </table>
      </div>
    </div>
  </div>
  